.inspector {
  & > .title {
    font-size: 1.3rem;
    margin-left: 10px;
    margin: 10px 0 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > .component {
    width: calc(100% - 20px);
    margin: 10px 10px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: solid var(--stroke-m) var(--stroke-m-primary);
    box-shadow: var(--shadow-distance) var(--shadow-distance) var(--shadow-color);
    display: flex;
    flex-direction: column;
    background-color: var(--secundary);
    padding: 10px 12px;
    overflow: hidden;
    & > .componentName {
      font-size: 1.2rem;
      font-family: monospace;
      font-weight: 700;
    }
    & > .sizeField {
      margin-top: 14px;
      display: flex;
      flex-direction: row;
      & > .fieldName {
        font-weight: 600;
      }
      & > .inputs {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 6px;
        width: 100%;
        & > p {
          margin-left: 4px;
        }
        & > input, .color {
          width: 25%;
          padding-left: 5px;
          border-radius: var(--c-radius-m);
          border: none;
          outline: solid var(--stroke-m) var(--stroke-m-primary);
          box-shadow: var(--shadow-distance-s) var(--shadow-distance-s) var(--shadow-color);
        }
        &>.color {
          height: 18px;
          width: 18px;
          padding: 0;
          border: none;
          cursor: pointer;
          overflow: hidden;
          &>.colorSelector{
            background-color: black;
            transform: translate(-50%, -50%);
            width: 72px;
            height: 72px;
            
          }
        }
      }
    }
  }
}
