.simulation {
  & > .simulationCanvas {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    max-height: 65%;
    overflow: hidden;
    border-radius: 5px;
    outline: var(--stroke-m) solid var(--stroke-m-primary);
    box-shadow: var(--shadow-distance) var(--shadow-distance) var(--shadow-color);
    background-color: rgb(188, 223, 255);
    & canvas {
      width: 100% !important;
    }
  }
}
